@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&family=Teko&display=swap');
.paketcayNavbar{
    height:200px;
    width: 100%;
    background-image:url(../menuimages/cayfoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.paketcayyazi{
  padding-top: 65px;
  font-size:4rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caycard{ 
  width:25%;
  height:600px;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  cursor: pointer;
  border: none !important;
    
}