@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&family=Teko&display=swap');

.aksesuarlarNavbar{
    height:200px;
    width: 100%;
    cursor: pointer;
    background-image:url(../menuimages/aksesuarlar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center 55%;
}
.aksesuaryazii{
    padding-top: 65px;
    font-size:4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img{
    margin-top: 5%;
    transition: transform 1.5s;
    height: 200px;
    object-fit: contain;
}
.card-img:hover{
  transform: scale(1.2);
}
.aksesuarcard{
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    border: none !important;
}
