.arama{
    height: 16%;
    width: 25%;
   
 }
 .aramaInput{
     outline:none;
     border: none;
     width: 100%;
     border-radius: 10px 0 0 10px;
     
 }
 li{
   background-color: white;
   width:105%;
   cursor: pointer;
   list-style: none; 
 }
 .searchButton{
     height: 16%;
     background-color: white;
     border: none;
     cursor: pointer;
     border-radius: 0 10px 10px 0;
     margin-right: 20%;
 }
 .searchIcon{
     display: flex;
     justify-content: center;
     align-items: center;
 }